{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <title>Zschocher.Info</title>
        </head>
    <body>
            <div class="page-header">
                <h1><strong>ZSCHOCHER.INFO: Infos zu deinem Stadtteil</strong></h1>
                <p><h2>Informier dich über <strong>Veranstaltungen</strong> und <strong>Neuigkeiten</strong> in deinem Stadtteil Klein- oder Großzschocher</h2></p>
            </div>
    <h3>Veranstaltungskalender</h3>


<div class="content container">
        <div class="row">
            <div class="col-md-8">
                    {% block content %}
                    {% endblock %}   
            </div>
        </div>
</div>
</body>
</html>